* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Rowdies, Arial, sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background: #0e0836;
}

#game-canvas {
  display: none;
  width: 100%;
  height: 100%;
  flex: 1;
}

.form {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 3rem;
  justify-items: center;
  color: white;
  width: 50%;
  margin: 0 auto;
}

.form fieldset {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: none;
}

.form label {
  width: 100%;
}

.form input {
  width: 100%;
  font-size: 1.5rem;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
}

.fieldset__nickname label {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.fieldset__gameplay-mode legend {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.fieldset__gameplay-mode div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.fieldset__gameplay-mode div:not(:first-of-type) {
  margin-top: 0.5rem;
}

.fieldset__gameplay-mode label {
  font-size: 1.5rem;
}

button {
  width: max-content;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  border-radius: 4px;
  cursor: pointer;
}

.btn__view-leaderboard {
  margin-top: 5rem;
  background: #0e0836;
  color: white;
  border-color: white;
}

.btn__back {
  margin-top: 5rem;
}

.hide {
  display: none;
}

ol {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

li {
  font-size: 1.5rem;
  color: white;
  margin-top: 0.5rem;
}
